services:
  glance:
    container_name: glance
    image: glanceapp/glance:v0.8.0
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    volumes:
      - ./config:/app/config
      - ./assets:/app/assets
      - /etc/localtime:/etc/localtime:ro
      # Optionally, also mount docker socket if you want to use the docker containers widget
      # - /var/run/docker.sock:/var/run/docker.sock:ro
    env_file: .env
    restart: unless-stopped
    networks:
      exposed:
        ipv4_address: 172.30.0.120

networks:
  exposed:
    external: true
    name: blackmesa
